<div class=''>
  <div class="container-fluid">
    <div class=" col-xs-7">
      <h1>Galería de Actividades</h1>
      <iframe scrolling="no" marginheight="0" frameborder="0" width="551" style="height:581.97604790419px;" src="https://fbgalleria.com/gallery.php?id=acm.puc&rows=4&margin=10&cols=3&width=170&font_size=11&title_color=000000&hide_next_back=0&share_buttons=1&shape=rectangle&frame=1"></iframe>
    </div>
  </div>
</div>
