<div class="homepage container-fluid">
  <div class="icon">

    <div class=" bg rotating">  </div>


    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="723.531px" height="957.354px" viewBox="0 -27 723.531 957.354" style="enable-background:new 0 -27 723.531 957.354;"
         xml:space="preserve" class="character">

      <g id="armDer" class ="salute">
        <path id="armder" class="st3" d="M463.638,85.056l-1.117-2.836l46.246-21.121l2.109,5.354
          c21.035,53.417,25.734,109.871,13.232,158.959c-13.268,52.087-44.119,90.046-86.877,106.883l-23.617,9.302l-18.602-47.238
          l23.619-9.304c27.16-10.694,47.148-36.326,56.277-72.173C484.802,174.035,480.8,128.638,463.638,85.056"/>
        <path id="arm_x5F_dernorder" class="st1" d="M463.638,86.056l-1.117-2.836l46.246-21.121l2.109,5.354
          c21.035,53.417,25.734,109.871,13.232,158.959c-13.268,52.087-44.119,90.046-86.877,106.883l-23.617,9.302l-18.602-47.238
          l23.619-9.304c27.16-10.694,47.148-36.326,56.277-72.173C484.802,175.035,480.8,129.638,463.638,86.056"/>
        <path id="handder" class="st3 hand" d="M475.294,88.017c-22.307-0.004-44.352-15.656-54.859-38.952c-0.66-1.46-1.283-2.97-1.85-4.484
          l-0.684-1.827l20.354-8.574l0.848,1.707c10.23,20.594,24.164,35.542,33.131,35.542c0.941,0,1.818-0.182,2.6-0.534
          c8.102-3.652,7.107-25.652-2.215-49.037l-0.738-1.848l43.486-18.322l0.842,1.725c0.328,0.667,0.641,1.341,0.949,2.022
          c6.809,15.093,8.215,31.54,3.971,46.323c-4.281,14.904-13.785,26.335-26.76,32.188c-5.988,2.701-12.406,4.071-19.068,4.071H475.294
          z"/>
        <path id="han_x5F_derborder" class="st2 hand" d="M514.382,4.304c0.318,0.649,0.627,1.307,0.926,1.968
          c13.662,30.289,3.912,64.236-21.775,75.821c-5.854,2.641-12.027,3.891-18.236,3.891c-21.037,0-42.463-14.369-53.01-37.754
          c-0.652-1.446-1.252-2.901-1.797-4.362l16.797-7.077c10.791,21.724,25.15,36.668,34.949,36.668c1.221,0,2.373-0.233,3.436-0.712
          c9.48-4.279,8.76-26.74-1.166-51.638L514.382,4.304 M474.503,21.107l0.002,0.002l-0.002,0.002V21.107 M516.349-0.93l-3.541,1.491
          l-36.084,15.205l-4.924,2.075l-2.543,1.071l0.684,1.716l2.268,5.866c8.025,22.152,7.566,39.943,1.793,42.549
          c-0.525,0.238-1.102,0.354-1.766,0.354c-6.893,0-20.209-12.061-31.312-34.413l-1.697-3.419l-3.518,1.483l-16.797,7.078
          l-3.594,1.513l1.367,3.653c0.582,1.558,1.221,3.107,1.9,4.611c5.406,11.986,13.684,22.118,23.941,29.301
          c10.131,7.093,21.461,10.843,32.77,10.843c6.955,0,13.652-1.431,19.906-4.25c13.527-6.101,23.43-17.991,27.877-33.477
          c4.381-15.247,2.934-32.192-4.07-47.717c-0.316-0.705-0.643-1.397-0.977-2.082L516.349-0.93z"/>
      </g>
      <g id="head" class="head">
        <defs>
          <rect id="SVGID_1_" x="-167.118" y="-53.529" width="1000" height="1000"/>
        </defs>
        <clipPath id="SVGID_2_">
          <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
        </clipPath>
        <polygon class="st5" points="95.172,182.752 111.269,142.265 306.706,63.884 364.237,207.334 348.141,247.822 152.704,326.204  "/>
        <path id="ojoizq" class="st4 eye" d="M230.72,174.936c0,14.604-12.5,26.443-27.916,26.443c-15.417,0-27.917-11.839-27.917-26.443
          s12.5-26.444,27.917-26.444C218.22,148.492,230.72,160.332,230.72,174.936"/>
        <path id="boca" class="st4 mouth" d="M336.753,189.653c0.646,1.41-0.5,3.3-2.564,4.216c-38.949,17.263-79.256,32.916-120.82,46.791
          c-2.204,0.736-4.43,0.137-4.967-1.326c-1.921-5.242-3.819-10.491-5.694-15.739c-0.524-1.466,0.823-3.237,2.998-3.96
          c41.068-13.655,80.887-29.07,119.351-46.081c2.038-0.902,4.197-0.49,4.832,0.924C332.151,179.542,334.442,184.6,336.753,189.653"/>
        <path id="ojoder" class="st4 eye" d="M319.073,141.734c0,14.605-12.5,26.443-27.917,26.443s-27.917-11.838-27.917-26.443
          c0-14.604,12.5-26.443,27.917-26.443S319.073,127.13,319.073,141.734"/>
        <g id="headborder" class="st0">
          <defs>
            <rect id="SVGID_3_" x="-167.118" y="-53.529" width="1000" height="1000"/>
          </defs>
          <clipPath id="SVGID_4_">
            <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
          </clipPath>
          <path class="st6" d="M305.317,67.135l56.228,140.203l-15.33,38.564l-192.121,77.051L97.865,182.748l15.331-38.562L305.317,67.135z
             M308.096,60.633l-4.642,1.861l-192.12,77.051l-1.992,0.799l-0.793,1.994l-15.331,38.563l-0.737,1.855l0.743,1.854l56.229,140.205
            l1.862,4.64l4.64-1.861l192.121-77.052l1.992-0.799l0.793-1.995l15.332-38.562l0.736-1.856l-0.743-1.854l-56.23-140.202
            L308.096,60.633z"/>
        </g>
      </g>
      <g id="neck">
        <path id="neck_x5F_supborder_2_" class="st2" d="M298.619,254.028c2.528,0,4.142,0.486,4.551,1.513l2.997,7.551
          c1.449,3.648-12.8,12.73-31.823,20.284c-13.663,5.424-26.075,8.587-32.52,8.587c-2.53,0-4.142-0.488-4.551-1.517l-2.997-7.549
          c-1.448-3.65,12.799-12.73,31.822-20.284C279.761,257.191,292.171,254.028,298.619,254.028 M298.619,249.966
          c-7.198,0-20.234,3.399-34.019,8.874c-9.432,3.743-18.052,7.988-24.272,11.954c-5.657,3.607-11.887,8.411-9.826,13.601l2.997,7.551
          c1.076,2.705,3.875,4.079,8.325,4.079c7.199,0,20.233-3.402,34.018-8.873c9.432-3.748,18.051-7.995,24.274-11.957
          c5.656-3.607,11.887-8.411,9.824-13.601l-2.996-7.549C305.87,251.338,303.068,249.966,298.619,249.966"/>
        <path id="neck_x5F_sup_2_" class="st3" d="M243.824,294.994c-1.318,0-5.327,0-6.437-2.798l-2.998-7.549
          c-3.278-8.255,29.242-21.445,32.96-22.921c13.562-5.383,26.31-8.73,33.27-8.73c1.315,0,5.326,0,6.438,2.797l2.996,7.55
          c3.277,8.255-29.244,21.443-32.96,22.92C263.531,291.645,250.784,294.994,243.824,294.994"/>
        <path id="neck_x5F_border_x5F_med_2_" class="st2" d="M303.49,266.295c2.528,0,4.142,0.487,4.55,1.516l2.997,7.549
          c1.449,3.649-12.798,12.731-31.823,20.282c-13.663,5.425-26.074,8.588-32.52,8.588c-2.528,0-4.141-0.486-4.549-1.517l-2.998-7.547
          c-1.448-3.651,12.8-12.733,31.822-20.283C284.634,269.458,297.044,266.295,303.49,266.295 M303.49,262.232
          c-7.197,0-20.231,3.4-34.02,8.874c-9.431,3.745-18.051,7.991-24.271,11.956c-5.658,3.606-11.888,8.41-9.828,13.599l2.999,7.553
          c1.074,2.706,3.874,4.079,8.323,4.079c7.198,0,20.233-3.402,34.02-8.875c9.431-3.745,18.05-7.991,24.273-11.955
          c5.656-3.606,11.886-8.411,9.826-13.6l-3-7.553C310.74,263.605,307.941,262.232,303.49,262.232"/>
        <path id="neck_x5F_bot_2_" class="st3" d="M246.694,306.261c-1.317,0-5.326,0-6.436-2.797l-2.998-7.549
          c-3.277-8.258,29.243-21.443,32.96-22.921c13.564-5.384,26.312-8.728,33.271-8.728c1.317,0,5.326,0,6.437,2.797l2.998,7.549
          c3.277,8.258-29.242,21.442-32.96,22.919C266.401,302.915,253.653,306.261,246.694,306.261"/>
        <path id="neck_x5F_base_2_" class="st3" d="M251.194,317.584c-1.319,0-5.33,0-6.439-2.795l-2.998-7.549
          c-3.278-8.257,29.242-21.444,32.96-22.922c13.563-5.383,26.309-8.73,33.269-8.73c1.317,0,5.327,0,6.437,2.797l2.998,7.552
          c3.279,8.252-29.242,21.442-32.959,22.919C270.899,314.24,258.153,317.584,251.194,317.584"/>
        <path id="neck_x5F_und_2_" class="st2" d="M307.986,277.62c2.528,0,4.142,0.486,4.55,1.515l2.998,7.55
          c1.449,3.649-12.8,12.73-31.822,20.284c-13.664,5.425-26.072,8.586-32.518,8.586c-2.531,0-4.144-0.486-4.553-1.516l-2.997-7.55
          c-1.449-3.649,12.799-12.729,31.823-20.282C289.13,280.782,301.542,277.62,307.986,277.62 M307.986,273.558
          c-7.197,0-20.233,3.401-34.019,8.874c-9.431,3.746-18.052,7.991-24.272,11.956c-5.657,3.606-11.886,8.411-9.826,13.6l2.997,7.552
          c1.075,2.705,3.877,4.076,8.328,4.076c7.197,0,20.232-3.399,34.018-8.871c9.432-3.745,18.051-7.993,24.271-11.958
          c5.656-3.606,11.886-8.409,9.826-13.601l-2.998-7.55C315.237,274.93,312.436,273.558,307.986,273.558"/>
      </g>
      <g id="body">
        <polygon id="cuerpo_2_" class="st3" points="129.041,422.055 166.711,340.734 407.371,244.394 507.117,493.562 469.447,574.888
          228.783,671.227   "/>
        <path id="screen_2_" class="st2" d="M441.525,399.857c1.084,2.717-2.266,6.602-7.477,8.686l-170.919,68.308
          c-5.211,2.082-10.314,1.571-11.398-1.142L210.38,372.25c-1.083-2.714,2.263-6.604,7.476-8.686l170.921-68.311
          c5.211-2.08,10.314-1.569,11.398,1.145L441.525,399.857z"/>
        <path id="a_2_" class="st2" d="M329.778,492.507l1.049,9.699l-7.977,3.172l-3.135-38.166l10.1-4.016l24.086,29.833l-8.278,3.294
          l-6.103-7.692L329.778,492.507z M336.121,483.317l-4.991-6.376c-1.408-1.777-3.02-4.062-4.326-5.882l-0.102,0.041
          c0.298,2.22,0.816,4.995,1.047,7.185l0.85,8.022L336.121,483.317z"/>
        <path id="c_2_" class="st2" d="M381.794,480.825c-1.133,1.269-4.012,3.292-8.152,4.937c-11.766,4.681-20.736-0.232-24.59-9.927
          c-4.619-11.612,1.092-21.368,11.391-25.464c3.989-1.587,7.342-1.984,8.984-1.817l0.865,6.729c-1.828-0.032-4.24,0.226-6.965,1.311
          c-6.111,2.429-9.39,8.002-6.379,15.574c2.713,6.816,8.457,9.503,15.323,6.772c2.321-0.925,4.696-2.453,5.972-3.661L381.794,480.825
          z"/>
        <path id="m_2_" class="st2" d="M410.822,455.305c-1.775-4.026-3.896-8.916-5.863-13.865l-0.154,0.06
          c0.668,4.764,1.184,10.173,1.457,14.684l1.139,14.927l-6.006,2.389l-8.875-11.732c-2.697-3.546-5.789-7.93-8.361-12.053
          l-0.102,0.039c1.621,4.675,3.561,9.988,4.996,14.329l4.535,13.166l-7.121,2.831l-11.363-34.893l10.252-4.077l7.85,10.034
          c2.627,3.517,5.373,7.336,7.717,11.024l0.152-0.06c-0.607-4.322-1.232-9.276-1.629-13.504l-0.861-12.758l10.045-3.995
          l15.402,33.288l-7.521,2.992L410.822,455.305z"/>
        <path id="body_x5F_border_2_" class="st2" d="M406.24,247.034l98.664,246.47l-36.961,79.798l-238.029,95.283l-98.663-246.47
          l36.964-79.797L406.24,247.034z M408.501,241.754l-3.77,1.509l-238.027,95.283l-1.498,0.603l-0.678,1.464l-36.962,79.795
          l-0.737,1.591l0.65,1.627l98.663,246.47l1.509,3.771l3.771-1.508l238.03-95.285l1.496-0.602l0.68-1.462l36.963-79.797l0.738-1.591
          l-0.654-1.626l-98.664-246.471L408.501,241.754z"/>
      </g>
      <g id="armLeft">
        <path id="armlef" class="st3" d="M78.729,670.519c-38.336-119.249-8.214-232,68.578-256.687l7.703-2.479
          c0.544-0.174,1.117-0.263,1.701-0.263c6.887,0,13.842,11.882,17.392,22.922c4.168,12.971,4.713,27.282-2.311,29.543l-7.703,2.478
          c-27.062,8.697-38.248,41.219-42.507,59.831c-8.518,37.211-5.199,82.623,9.349,127.877l2.05,6.385l-53.038,14.17L78.729,670.519z"/>
        <path id="arm_x5F_lef_x5F_border" class="st2" d="M156.711,413.122c4.808,0,11.476,9.124,15.458,21.514
          c4.289,13.347,3.842,25.43-1,26.986l-7.702,2.476c-28.016,9.007-39.51,42.28-43.864,61.314c-8.6,37.559-5.264,83.353,9.393,128.949
          l1.4,4.352l-49.112,13.121l-0.622-1.936c-37.987-118.167-8.44-229.798,67.266-254.135c0,0,7.704-2.476,7.703-2.476
          C155.979,413.176,156.34,413.122,156.711,413.122 M156.711,409.06c-0.796,0-1.577,0.121-2.323,0.361l-0.009,0.004
          c-0.004,0.002-0.012,0.005-0.025,0.008l-1.979,0.636c-2.28,0.733-5.688,1.828-5.688,1.83c-37.98,12.209-66.02,45.846-78.953,94.709
          c-12.764,48.222-9.545,106.653,9.063,164.534l0.62,1.938l1.182,3.678l3.734-1l49.109-13.12l4.126-1.101l-1.305-4.065l-1.4-4.349
          c-14.437-44.914-17.741-89.946-9.3-126.803c4.161-18.194,15.041-49.964,41.147-58.354l7.702-2.476
          c8.681-2.792,7.962-18.597,3.622-32.099C172.142,421.282,164.656,409.06,156.711,409.06"/>
        <path id="handlef" class="st3 hand" d="M68.773,728.2c-0.249-0.7-0.487-1.405-0.716-2.117c-5.065-15.758-4.616-32.263,1.264-46.475
          c5.929-14.326,16.658-24.617,30.21-28.975c4.548-1.459,9.283-2.203,14.077-2.203c24.106,0,46.915,18.578,55.465,45.177
          c0.491,1.524,0.939,3.094,1.334,4.662l0.472,1.892l-21.187,6.233l-0.652-1.794c-8.093-22.281-20.871-39.086-29.723-39.086
          c-0.641,0-1.262,0.097-1.845,0.285c-8.458,2.717-9.942,24.688-3.31,48.974l0.524,1.922l-45.268,13.315L68.773,728.2z"/>
        <path id="hand_x5F_left_x5F_border" class="st2 hand" d="M113.608,650.463c22.74,0,45.045,17.362,53.531,43.766
          c0.488,1.511,0.919,3.023,1.297,4.535l-17.487,5.146c-8.576-23.611-21.768-40.422-31.632-40.422c-0.849,0-1.672,0.123-2.466,0.379
          c-9.904,3.184-11.71,25.586-4.65,51.44l-41.514,12.215c-0.242-0.682-0.475-1.368-0.697-2.061
          c-10.169-31.633,3.335-64.27,30.163-72.893C104.587,651.144,109.104,650.463,113.608,650.463 M112.206,715.305l-0.002,0.002h-0.002
          L112.206,715.305 M113.608,646.401c-5.004,0-9.949,0.771-14.697,2.302c-14.131,4.541-25.305,15.242-31.466,30.131
          c-6.066,14.654-6.534,31.654-1.321,47.869c0.236,0.732,0.481,1.459,0.736,2.176l1.286,3.625l3.688-1.086l37.533-11.045l5.399-1.588
          l2.404-0.707l-0.561-2.057l-1.518-5.802c-5.486-22.92-3.03-40.549,3.003-42.488c0.387-0.124,0.787-0.184,1.223-0.184
          c6.934,0,19.233,14.119,27.814,37.746l1.303,3.588l3.66-1.078l17.489-5.146l3.741-1.101l-0.948-3.78
          c-0.403-1.613-0.865-3.228-1.372-4.797C162.19,665.558,138.586,646.401,113.608,646.401"/>
      </g>
      <g id="legDer">
        <path id="legder_2_" class="st3" d="M590.728,677.521v-27.416c0-11.839-13.105-34.693-37.719-46.816
          c-29.785-14.67-140.824-35.709-141.939-35.918l-1.107-0.213l-0.408-1.046c-1.521-3.891,0.84-8.653,6.828-13.774
          c5.346-4.568,13.057-8.949,21.707-12.334c9.357-3.66,18.457-5.676,25.625-5.676c0.311,0,0.613,0.004,0.91,0.01
          c42.598,3.011,81.477,12.684,112.529,27.978c44.111,21.727,68.406,52.903,68.406,87.792v27.416h-54.832V677.521z"/>
        <path id="leg_x5F_der_x5F_border_2_" class="st2" d="M463.714,536.359c0.289,0,0.576,0.004,0.857,0.01
          c41.869,2.959,80.777,12.545,111.682,27.768c43.383,21.366,67.275,51.896,67.275,85.972v25.383h-50.771v-25.383
          c0-13.308-14.471-36.632-38.852-48.641c-30.379-14.964-142.463-36.096-142.463-36.096c-2.408-6.151,9.965-16.662,27.387-23.479
          C448.136,538.254,457.058,536.359,463.714,536.359 M463.714,532.297c-7.416,0-16.777,2.066-26.363,5.814
          c-8.859,3.466-16.775,7.972-22.287,12.684c-8.477,7.246-8.703,12.73-7.4,16.059l0.818,2.095l2.211,0.416
          c1.113,0.211,111.883,21.201,141.418,35.748c23.561,11.603,36.586,33.971,36.586,44.996l4.062,29.446h50.77h4.062v-4.063v-25.383
          c0-35.703-24.697-67.527-69.543-89.615c-31.283-15.41-70.424-25.152-113.189-28.176l-0.092-0.005l-0.092-0.004
          C464.361,532.302,464.041,532.297,463.714,532.297"/>
        <path id="foot_x5F_Der_x5F_border_x5F_up_2_" class="st2" d="M647.765,615.516c10.328,0,20.613,4.125,30.189,14.404l-72.043,65.664
          c-25.771-28.663-7.287-56.273,5.461-65.664C622.794,621.506,635.312,615.516,647.765,615.516 M647.765,611.453
          c-12.061,0-25.115,5.115-38.803,15.195c-8.156,6.012-18.252,18.604-19.855,34.321c-1.338,13.108,3.301,25.666,13.783,37.33
          l2.734,3.039l3.021-2.757l72.041-65.662l3.037-2.767l-2.801-3.002C671.226,616.736,660.066,611.453,647.765,611.453"/>
        <path id="footDer_x5F_rig_2_" class="st3" d="M618.707,703.439c-6.082,0-11.025-1.9-14.297-5.488
          c-5.025-5.514-5.641-14.295-1.727-24.728c3.742-9.977,11.23-20.417,21.086-29.397c13.371-12.188,29.232-19.76,41.393-19.76
          c6.076,0,11.021,1.896,14.295,5.483c10.184,11.177,1.68,34.951-19.361,54.129c-13.373,12.188-29.229,19.761-41.387,19.761H618.707
          L618.707,703.439z"/>
        <path id="footder_x5F_up_2_" class="st3" d="M604.4,697.941c-10.086-11.22-14.553-23.25-13.273-35.765
          c1.539-15.057,11.221-27.129,19.041-32.894c13.33-9.819,25.98-14.8,37.598-14.8c11.719,0,22.375,5.065,31.676,15.051l1.4,1.504
          l-75.074,68.424L604.4,697.941z"/>
        <path id="foot_x5F_der_x5F_bot_x5F_border_2_" class="st2" d="M665.162,626.098c5.346,0,9.811,1.552,12.793,4.822
          c9.275,10.178,0.666,33.125-19.229,51.26c-13.5,12.306-28.729,19.229-40.02,19.229c-5.348,0-9.816-1.558-12.795-4.824
          c-9.275-10.176-0.668-33.125,19.227-51.257C638.64,633.02,653.867,626.098,665.162,626.098 M665.162,622.037
          c-12.836,0-28.82,7.582-42.76,20.287c-10.088,9.192-17.766,19.917-21.619,30.188c-4.195,11.182-3.439,20.7,2.127,26.807
          c3.668,4.023,9.131,6.148,15.797,6.148c12.834,0,28.816-7.584,42.756-20.289c21.883-19.943,30.447-44.979,19.492-56.996
          C677.291,624.162,671.828,622.037,665.162,622.037"/>
      </g>
      <g id="legLeft">
        <path id="footleft" class="st3" d="M324.289,896.372c-1.536,0-3.086-0.112-4.606-0.334c-11.463-1.667-21.295-9.339-27.688-21.604
          c-6.251-11.995-8.471-27.016-6.247-42.293c4.302-29.598,24.127-51.916,46.114-51.916c1.537,0,3.088,0.111,4.609,0.332
          c23.342,3.396,38.567,32.06,33.938,63.896C366.104,874.053,346.276,896.372,324.289,896.372"/>
        <path id="footleft_x5F_border" class="st2" d="M331.862,782.726c1.412,0,2.829,0.102,4.25,0.309
          c22.015,3.201,36.263,30.537,31.824,61.062c-4.153,28.552-23.187,49.775-43.647,49.775c-1.411,0-2.827-0.102-4.248-0.307
          c-22.012-3.201-36.259-30.539-31.819-61.062C292.372,803.951,311.406,782.729,331.862,782.726 M331.865,777.726h-0.003
          c-23.221,0.003-44.109,23.241-48.589,54.059c-2.297,15.793,0.014,31.35,6.505,43.807c6.773,12.996,17.265,21.138,29.543,22.923
          c1.641,0.237,3.312,0.358,4.968,0.358c23.222,0,44.112-23.238,48.597-54.056c2.295-15.795-0.016-31.354-6.508-43.81
          c-6.773-12.995-17.268-21.136-29.546-22.923C335.191,777.847,333.519,777.726,331.865,777.726"/>
        <path id="legleft" class="st3" d="M331.563,842.191c-5.327,0-10.688-1.363-15.092-3.843c-9.614-5.407-12.434-17.446-10.971-27.016
          c0.311-5.082,0.772-11.506,1.303-18.938c2.547-35.573,7.283-101.766,7.598-191.141c-1.605-6.609,14.559-14.256,24.544-17.787
          c8.547-3.021,16.699-4.756,22.369-4.756c4.529,0,7.236,1.166,8.048,3.463l0.121,0.341l-0.108,9.397
          c0,66.062-1.688,128.25-4.744,175.077c-1.525,23.349-2.285,34.228-4.297,47.438c-1.941,12.728-7.471,20.992-16.902,25.271
          c-3.639,1.651-7.633,2.489-11.865,2.489h-0.003V842.191z"/>
        <path id="leg_x5F_left_x5F_border" class="st2" d="M361.314,580.746c3.395,0,5.631,0.684,6.133,2.106l-0.104,9.035
          c0,66.041-1.684,128.183-4.74,174.974c-1.518,23.233-2.285,34.19-4.279,47.262c-1.935,12.689-7.307,19.906-15.73,23.729
          c-3.526,1.604-7.315,2.31-11.026,2.31c-5.148,0-10.15-1.361-14.098-3.58c-9.311-5.236-11.18-17.127-9.944-25.027
          c1.81-29.696,8.542-102.471,8.909-210.581c-1.275-3.604,9.037-10.587,23.191-15.589
          C348.186,582.354,356.109,580.746,361.314,580.746 M361.314,576.683c-5.893,0-14.292,1.776-23.046,4.871
          c-4.76,1.686-27.785,10.354-25.898,19.921c-0.322,89.191-5.049,155.256-7.592,190.775c-0.527,7.395-0.986,13.791-1.298,18.869
          c-1.538,10.248,1.565,23.135,11.997,29c4.704,2.646,10.416,4.104,16.086,4.104c4.525,0,8.803-0.899,12.709-2.672
          c10.104-4.586,16.017-13.356,18.065-26.813c2.027-13.295,2.789-24.205,4.317-47.611c3.06-46.875,4.745-109.106,4.745-175.236
          l0.107-8.985l0.009-0.722l-0.24-0.68C370.149,578.303,366.796,576.683,361.314,576.683"/>
      </g>
    </svg>
  </div>
</div>
